* {
    background-color: white;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 15 px;
}
section {
    padding: 16px;
    border: 1px solid brown;
    border-radius: 8px; 
}
section.destaque{
    background-color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: crimson;
}
[data-func="foto"] {
    border-radius: 50%;
    transition: all 0.8s ease-in-out;
    filter: invert(1);
}
[data-func="foto"]:hover {
    transform: rotate(180deg);
}
[href="#top"] {
    color: white;
    background: red;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
    position: fixed;
    bottom:12px;
    right: 12px;
    scroll-behavior: smooth;
    transition: all 0.8s ease-in-out;
        }
/* el uso de los [] permite identificar un selector especifico para una propiedad dentro de un codigo HTML */
[href="#top"]:hover {
    background: white;
    border-color: red;
    color: red;
    scroll-behavior: smooth;
   }
main {
    max-width: auto;
    display: inline-flex;
    align-content: center;
    }
.bloco {
    display: inline-flex;
    flex-direction: column; 
    align-content: center;
    }
    .carousel-item {
        height: 400px;
        background-color: brown;
        /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxOoDXGzos-Se65rditXXWhFaK-74CmaZ29w&usqp=CAU); */
                    }
/*[class="carousel slide"] {
    width:auto ;
    height: 400px;
        } 

[class="carousel-item 1 active"] {
        background-color: royalblue;
        }
[class="carousel-item 2"] {
    background-color: red;
}
[class="carousel-item 3"] {
         background-color: green;
                } */ 
[class="d-block w-100"] {
    width:350px ;
    height: 200px;
    align-items: center;
} 

@media screen and (min-width: 450px) {
    * {
        background-color: rgb(223, 231, 228);
        margin: 0;
        padding: 4px;
        scroll-behavior: smooth;}
     }

